<div class="wrapper">
  <div class="forklifts">
    <img src="../../../../assets/images/main/forklift-1.jpg" class="forklift">
    <img src="../../../../assets/images/main/forklift-2.jpg" class="forklift">
    <img src="../../../../assets/images/main/forklift-3.jpg" class="forklift">
  </div>
  <div class="title">
    <div class="first-row">
      <span>Розробка і виробництво</span>
      <span>Автонавантажувачів</span>
    </div>
    <div class="second-row">
      <span>та</span>
      <span>НАВІСНОГО ПРИСПОСІБЛЕННЯ</span>
    </div>
  </div>
  <div class="documents">
    <img src="../../../../assets/images/main/certificate.jpg">
    <img src="../../../../assets/images/main/certificate.jpg">
    <img src="../../../../assets/images/main/certificate.jpg">
  </div>
  <div class="bottom-caption">
    <span>Львів</span>
    <span>Україна</span>
  </div>
</div>
