.wrapper {
  text-align: center;
  padding-bottom: 50px;
  font-size: 15px;
  font-family: Tahoma,sans-serif;
  font-weight: 600;

  p {
    font-size: 20px;
  }

  table {
    & th, td {
      border: 1px solid black;
    }

    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;

    tr:nth-child(11) {
      img {
        height: 175px;
      }
    }

    th {
      padding: 5px;
    }

    td {
      font-weight: 600;
      padding: 5px;
    }

    img {
      width: 200px;
      height: 125px;
    }
  }
}
