<div class="wrapper">
  <p>Автонавантажувачі спеціального призначення</p>
  <table>
    <tr>
      <th>Зоображення</th>
      <th>Назва</th>
      <th>Зоображення</th>
      <th>Назва</th>
    </tr>
    <tr>
      <td colspan="4">Вилкові навантажувач</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-1.JPG"></td>
      <td>Вантажо-підйомність<br> 2,5 – 4,0 ton</td>
      <td><img src="../../../../assets/images/special-machinery/forklift-3.jpg"></td>
      <td>Вантажо-підйомність<br> 5,0 – 10,0 ton</td>
    </tr>
    <tr>
      <td colspan="4">Ковшеві навантажувачі</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-3.jpg"></td>
      <td>Об’єм ковша -<br> 0,5 - 1,2 м3</td>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-4.jpg"></td>
      <td>Об’єм ковша –<br> 1.5 - 2,5 м3</td>
    </tr>
    <tr>
      <td colspan="4">Навантажувачі з телескопічною стрілою</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-5.jpg"></td>
      <td>Виліт гаку -2850;<br> Висота підйому -5200m</td>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-6.jpg"></td>
      <td>Виліт гаку -2850;<br> Висота підйому -7200m</td>
    </tr>
    <tr>
      <td colspan="4">Навантажувачі для круглого лісу</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/special-machinery/forklift-2.jpg"></td>
      <td>Площа захвату (max) - 1,2м2<br> Вантажо-підйомність -4т</td>
      <td><img src="../../../../assets/images/special-machinery/forklift.jpg"></td>
      <td>Площа захвату (max) - 1,5м2<br> Вантажо-підйомність -5т</td>
    </tr>
    <tr>
      <td colspan="4">Навантажувачі для довгомірних вантажів і контейнерів</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-9.jpg"></td>
      <td>Довжина вантажу – 9м,<br> висота підйому -5 м</td>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-10.jpg"></td>
      <td>Довжина вантажу - 12м,<br> висота підйому -12 м</td>
    </tr>
    <tr>
      <td colspan="4">Навантажувачі роторознімачі та колесознімачі</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-11.jpg"></td>
      <td>Для зняття ротора млина<br> Мах зусилля зриву -100 тон</td>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-12.jpg"></td>
      <td>Для монтажу коліс самоскидів 80, 120, 180 тон<br> Мах діаметр колеса -3650мм</td>
    </tr>
    <tr>
      <td colspan="4">Повнопривідні навантажувачі</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-13.jpg"></td>
      <td>Повнопривідні навантажувачі для армії</td>
      <td><img src="../../../../assets/images/special-machinery/forklift-spec-14.jpg"></td>
      <td>Повнопривідні навантажувачі для сільського господарства</td>
    </tr>
  </table>
</div>
