<div class="wrapper">
  <p>Вантажозахоплююче навісне приспосіблення</p>
  <table>
    <tr>
      <th>Зоображення</th>
      <th>Назва</th>
      <th>Опис</th>
      <th>Зоображення</th>
      <th>Назва</th>
      <th>Опис</th>
    </tr>
    <tr>
      <td colspan="6">Механічне навісне обладнання</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-1.jpg"></td>
      <td>Подовжувачі вил</td>
      <td>Вантажопідйомність - 1,0 – 5,0 т Довжина 1,5- 3м</td>
      <td><img src="../../../../assets/images/attachments/attachments-2.jpg"></td>
      <td>Багатовилковий підхват</td>
      <td>Вантажопідйомність - 1,0 – 3,0 т Мах ширина-4м</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-3.jpg"></td>
      <td>Стріла безблокова</td>
      <td>Мах виліт-2,1 м Вантажо-сть–1 - 4т Довжина – 2,2м</td>
      <td><img src="../../../../assets/images/attachments/attachments-4.jpg"></td>
      <td>Стріла телескопічна</td>
      <td>Мах виліт- 5м Вантажо-сть–1 - 5т Довжина – 2,8м</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-5.jpg"></td>
      <td>Кран-балка</td>
      <td>Вантажопідйомність-сть– 1,0- 5т Монтаж на вили</td>
      <td><img src="../../../../assets/images/attachments/attachments-6.jpg"></td>
      <td>Стріла кранова</td>
      <td>Мах виліт- 3м Вантажо-сть–5т Довжина – 6,8м</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-7.jpg"></td>
      <td>Штир для рулонів та котушок</td>
      <td>Вантажопідйомність - 1,0 – 3,0 т Довжина 1,5- 2,5м</td>
      <td><img src="../../../../assets/images/attachments/attachments-8.jpg"></td>
      <td>Штир для рулонів металу</td>
      <td>Вантажопідйомність - 3,0 – 10,0 т Довжина 1,2 -2м</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-9.jpg"></td>
      <td>Відвал для снігу і землі</td>
      <td>Ширина захвату – 1,5 – 3м Поворот п/л- 300</td>
      <td><img src="../../../../assets/images/attachments/attachments-10.jpg"></td>
      <td>Платформа для людей</td>
      <td>Вантажопідйомність - 0,5 – 1,0 т Мах ширина-2,0м</td>
    </tr>
    <tr>
      <td colspan="6">Гідравлічне навісне обладнання</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-11.jpg"></td>
      <td>Каретка бокового зсуву</td>
      <td>Вантажопідйомність - 1,0 – 3,0 т Мах ширина-1,1м Зсув пр/л-100-150мм</td>
      <td><img src="../../../../assets/images/attachments/attachments-12.jpg"></td>
      <td>Каретка поперечного переміщення</td>
      <td>Вантажопідйомність - 3,0 – 10,0 т Мах ширина-1,6м Зсув пр/л-150-400мм</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-13.jpg"></td>
      <td>Позиціонер вил</td>
      <td>Вантажопідйомність - 1,5 – 10,0 т Мах ширина-2,5м Розмах лап–2,5м</td>
      <td><img src="../../../../assets/images/attachments/attachments-14.jpg"></td>
      <td>Зіштовхувач вантажів</td>
      <td>Вантажопідйомність - 1,5 – 3,0 т Мах довжина-2,5м</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-15.jpg"></td>
      <td>Поворотна каретка</td>
      <td>Вантажопідйомність - 1,0 – 3,0 т Кут повороту-1800</td>
      <td><img src="../../../../assets/images/attachments/attachments-16.jpg"></td>
      <td>Кантувач</td>
      <td>Вантажопідйомність - 2,5 – 5,0 т Кут повороту-3600</td>
    </tr>
    <tr>
      <td colspan="6">Ковші</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-17.jpg"></td>
      <td>Ковш для будівельних матеріалів</td>
      <td>Об’єм – 0,5 -1,0м3 Ширина -1,4 -2,0м</td>
      <td><img src="../../../../assets/images/attachments/attachments-18.jpg"></td>
      <td>Ковш для зерна</td>
      <td>Об’єм – 1,2 -2,5м3 Ширина -1,5 -2,5м</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-19.jpg"></td>
      <td>Ковш щелепний</td>
      <td>Об’єм – 1,0 -1,5м3 Ширина -1,8 -2,4м</td>
      <td><img src="../../../../assets/images/attachments/attachments-20.jpg"></td>
      <td>Щітка для підмітання</td>
      <td>Ширина – 1,5-2,0м Поворот пр/л- 300</td>
    </tr>
    <tr>
      <td colspan="6">Захвати</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-21.jpg"></td>
      <td>Захват боковий кіповий</td>
      <td>Вантажопідйомність - 1,0 – 5,0 т Мах розмах -2,3м Min розмах –0,4м</td>
      <td><img src="../../../../assets/images/attachments/attachments-22.jpg"></td>
      <td>Захват для блоків</td>
      <td>Вантажопідйомність - 1,0 – 3,0 т Мах розмах -2,0м Min розмах –0,2м</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-23.jpg"></td>
      <td>Захват для пінопласту</td>
      <td>Вантажопідйомність - 1,0 – 3,0 т Мах розмах -2,5м Min розмах –0,5м</td>
      <td><img src="../../../../assets/images/attachments/attachments-24.jpg"></td>
      <td>Захват для рулонів</td>
      <td>Вантажопідйомність - 1,0 – 5,0 т Мах розмах -2,5м Min розмах –0,5м</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-25.jpg"></td>
      <td>Захват для лісу</td>
      <td>Вантажопідйомність - 3,0 – 5,0 т Мах площа захвату -1,2м</td>
      <td><img src="../../../../assets/images/attachments/attachments-26.jpg"></td>
      <td>Захват для труб</td>
      <td>Вантажопідйомність - 3,5 – 5,0 т Мах площа захвату -1,0м</td>
    </tr>
    <tr>
      <td><img src="../../../../assets/images/attachments/attachments-27.jpg"></td>
      <td>Захват-колесознімач</td>
      <td>Вантажопідйомність - 2,7 – 5,0 т Мах розмах -3,2м Min розмах –1,3м</td>
      <td><img src="../../../../assets/images/attachments/attachments-28.jpg"></td>
      <td>Захват-роторознімач</td>
      <td>Мах зусилля зриву ротора млина – 50тон</td>
    </tr>
  </table>
</div>
