<div class="wrapper">
  <h1 class="header-title">{{ headerTitle.toUpperCase() }}</h1>
  <div class="header-logo">
    <img src="../../../assets/images/logo.jpg">
  </div>
  <div #navBar class="header-nav-bar">
    <a href="#" class="nav-bar-link" routerLink="main" routerLinkActive="active-link">Головна</a>
    <a href="#" class="nav-bar-link" routerLink="production" routerLinkActive="active-link">Продукція</a>
    <a href="#" class="nav-bar-link" routerLink="special-machinery" routerLinkActive="active-link">Спецтехніка</a>
    <a href="#" class="nav-bar-link" routerLink="attachments" routerLinkActive="active-link">Навісне обладнання</a>
    <a href="#" class="nav-bar-link" routerLink="spare-parts" routerLinkActive="active-link">Запчастини</a>
    <a href="#" class="nav-bar-link" routerLink="contacts" routerLinkActive="active-link">Контакти</a>
  </div>
</div>
