<div class="wrapper">

  <p>Запасні частини до автонавантажувачів</p>

  <div class="content">
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-1.jpg">
      <p>Кабіни</p>
    </div>
    <div class="image-label">
      <img src=" ../../../../assets/images/spare-parts/spare-2.jpg">
      <p>Шасі</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-3.JPG">
      <p>Силові Агрегати</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-4.jpg">
      <p>Кард. вали</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-5.jpg">
      <p>Кардера</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-6.jpg">
      <p>Редуктори МЗХ</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-7.jpg">
      <p>Щестерні</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-8.jpg">
      <p>Підшипники</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-9.jpg">
      <p>Штока</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-10.JPG">
      <p>Кермові підвіски</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-11.jpg">
      <p>Поворотні кулаки</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-12.jpg">
      <p>Кермові тяги</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-13.jpg">
      <p>Наконечники</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-14.jpg">
      <p>Гідробаки</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-15.jpg">
      <img src="../../../../assets/images/spare-parts/spare-16.jpg">
      <p>Гідророзпридільники</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-17.jpg">
      <p>РВТ</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-18.jpg">
      <p>Ремкомплекти</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-19.jpg">
      <p>Фільтра</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-20.jpg">
      <p>Ланцюги</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-21.jpg">
      <p>Пальці</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-22.jpg">
      <p>Тяги</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-23.jpg">
      <p>Осі</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-24.jpg">
      <img src="../../../../assets/images/spare-parts/spare-25.JPG">
      <p>Гідроциліндри</p>
    </div>
    <div class="image-label">
      <img src="../../../../assets/images/spare-parts/spare-26.jpg">
      <p>Електроприлади</p>
    </div>
  </div>
</div>
