<div class="wrapper">

  <p>Запасні частини до автонавантажувачів</p>

  <div class="content">
    <div class="image-label">
      <img src="">
      <p>Кабіни</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Шасі</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Силові Агрегати</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Кард. вали</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Кардера</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Редуктори МЗХ</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Щестерні</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Підшипники</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Штока</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Кермові підвіски</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Поворотні кулаки</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Кермові тяги</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Наконечники</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Гідробаки</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Гідророзпридільники</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>РВТ</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Ремкомплекти</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Фільтра</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Ланцюги</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Пальці</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Тяги</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Осі</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Гідроциліндри</p>
    </div>
    <div class="image-label">
      <img src="">
      <p>Електроприлади</p>
    </div>
  </div>
</div>
