.wrapper {
  text-align: center;
  padding-bottom: 50px;
  font-size: 15px;
  font-family: Tahoma, sans-serif;

  p {
    font-size: 20px;
    font-weight: 600;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    .image-label {
      margin-right: 5px;
      img {
        width: 250px;
        height: 250px;
      }
    }
  }
}
