<div class="wrapper">
  <p>Вилкові дизельні навантажувачі (власного виробництва)</p>
  <table>
    <tr>
      <th>ЗОБРАЖЕННЯ</th>
      <th>МОДЕЛЬ</th>
      <th>в/п</th>
      <th>Відаль центру вантажу</th>
      <th>Висота підйому</th>
      <th>Короткий опис</th>
    </tr>
    <tr>
      <td rowspan="3"><img src="../../../../assets/images/production/50.035.jpg"></td>
      <td>50.030</td>
      <td>3000</td>
      <td rowspan="3">500</td>
      <td rowspan="3">3300</td>
      <td class="table-description" rowspan="3">
        Дизель Д-242,<br>
        P=46 кW. M=278Нm.<br>
        Трансмісія – механічна 2/2<br>
        Пневматичні шини:<br>
        передні 8,25-15; задні 7,00-12
      </td>
    </tr>
    <tr>
      <td>50.035</td>
      <td>3500</td>
    </tr>
    <tr>
      <td>50.040</td>
      <td>4000</td>
    </tr>
    <tr>
      <td rowspan="3"><img src="../../../../assets/images/production/50.042.jpg"></td>
      <td>50.041</td>
      <td>3000</td>
      <td rowspan="3">500</td>
      <td rowspan="3">3300</td>
      <td class="table-description" rowspan="3">
        Дизель Д-242,<br>
        P=46 кW. M=278Нm.<br>
        Трансмісія – механічна 4/4<br>
        Пневматичні шини:<br>
        передні 11,00-18; задні 7,50-15
      </td>
    </tr>
    <tr>
      <td>50.042</td>
      <td>3500</td>
    </tr>
    <tr>
      <td>50.044</td>
      <td>4000</td>
    </tr>
    <tr>
      <td rowspan="3"><img src="../../../../assets/images/production/50.001.jpg"></td>
      <td>50.001</td>
      <td>5000</td>
      <td rowspan="3">600</td>
      <td rowspan="3">3300</td>
      <td class="table-description" rowspan="3">
        Дизель Д-243,<br>
        P=59 кW. M=298Нm.<br>
        Трансмісія – механічна 4/4<br>
        Пневматичні шини:<br>
        передні 8,25-20; задні 8,25-15
      </td>
    </tr>
    <tr>
      <td>50.001.6</td>
      <td>6000</td>
    </tr>
    <tr>
      <td>50.001.7</td>
      <td>7000</td>
    </tr>
    <tr>
      <td rowspan="3"><img src="../../../../assets/images/production/50.001.7.jpg"></td>
      <td>50.001.8</td>
      <td>8000</td>
      <td rowspan="3">600</td>
      <td rowspan="3">3300</td>
      <td class="table-description" rowspan="3">
        Дизель Д-245,<br>
        P=95 кW. M=439Нm.<br>
        Трансмісія – механічна 5/5<br>
        Пневматичні шини:<br>
        передні 11,00-20; задні 9,00-20
      </td>
    </tr>
    <tr>
      <td>50.001.9</td>
      <td>9000</td>
    </tr>
    <tr>
      <td>50.001.10</td>
      <td>10000</td>
    </tr>
  </table>

  <p>Вилкові дизельні навантажувачі (комплектація КНР)</p>
  <table>
    <tr>
      <th>ЗОБРАЖЕННЯ</th>
      <th>МОДЕЛЬ</th>
      <th>в/п</th>
      <th>Відаль центру вантажу</th>
      <th>Висота підйому</th>
      <th>Короткий опис</th>
    </tr>
    <tr>
      <td rowspan="3"><img src="../../../../assets/images/production/forklift-knr-1.jpg"></td>
      <td>FD20E</td>
      <td>2000</td>
      <td rowspan="3">500</td>
      <td rowspan="3">3000</td>
      <td class="table-description" rowspan="3">
        Дизель XC495BPG<br>
        P=42 кW. M=174Нm.<br>
        Трансмісія – автомат 1/1<br>
        Шини пневмат<br>
        Перед- 28х9-15, Задні: 6,50-10
      </td>
    </tr>
    <tr>
      <td>FD30E</td>
      <td>3000</td>
    </tr>
    <tr>
      <td>FD40E</td>
      <td>4000</td>
    </tr>
    <tr>
      <td rowspan="3"><img src="../../../../assets/images/production/forklift-knr-2.png"></td>
      <td>FD50</td>
      <td>5000</td>
      <td rowspan="3">600</td>
      <td rowspan="3">3000</td>
      <td class="table-description" rowspan="3">
        Дизель CY6102BG<br>
        P=81 кW. M=353Нm.<br>
        Трансмісія – автомат 1/1<br>
        Шини пневмат<br>
        Перед- 8,25-15, Задні: 8,25-15
      </td>
    </tr>
    <tr>
      <td>FD60</td>
      <td>6000</td>
    </tr>
    <tr>
      <td>FD70</td>
      <td>7000</td>
    </tr>
    <tr>
      <td rowspan="3"><img src="../../../../assets/images/production/forklift-knr-3.png"></td>
      <td>FD70S</td>
      <td>7000</td>
      <td rowspan="3">600</td>
      <td rowspan="3">3000</td>
      <td class="table-description" rowspan="3">
        Дизель XCCA6110<br>
        P=83 кW. M=450Нm.<br>
        Трансмісія – автомат 1/1<br>
        Шини пневмат<br>
        Перед- 9,00-20, Задні: 9,00-20
      </td>
    </tr>
    <tr>
      <td>FD80S</td>
      <td>8000</td>
    </tr>
    <tr>
      <td>FD100S</td>
      <td>10000</td>
    </tr>
    <tr>
      <td rowspan="3"><img src="../../../../assets/images/production/forklift-knr-4.jpg"></td>
      <td>FD-25S2</td>
      <td>2500</td>
      <td rowspan="3">500</td>
      <td rowspan="3">3000</td>
      <td class="table-description" rowspan="3">
        Дизель 4JG2<br>
        P=88 кW. M=270Нm.<br>
        Трансмісія – автомат 1/1<br>
        Шини пневмат<br>
        Перед- 12,5-18,Задні: 27-10
      </td>
    </tr>
    <tr>
      <td>FD-30S2</td>
      <td>3000</td>
    </tr>
    <tr>
      <td>FD-35S2</td>
      <td>3500</td>
    </tr>
  </table>
</div>
